<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.my.ido4u">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission
        android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Ido4uApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app_banner3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_banner3_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".BrightnessActionActivity" />
        <activity android:name=".VolumeActionActivity" />
        <activity android:name=".CreateActionActivity" />
        <activity android:name=".ChooseBluetoothActivity" />
        <activity
            android:name=".ChooseWifiActivity"
            android:windowSoftInputMode="adjustNothing" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".CreateConditionActivity" />
        <activity android:name=".ChooseLocationActivity" />
        <activity android:name=".TaskProfileActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".BroadcastReceiverService" />
    </application>

</manifest>